<a type="button" href="/personeel" class="btn btn-lg btn-primary btn-block">Personeel</a>
<a type="button" href="/klant" class="btn btn-lg btn-primary btn-block">Klanten</a>
<a type="button" href="/wagen" class="btn btn-lg btn-primary btn-block">Wagens</a>
<a type="button" href="/kenteken" class="btn btn-lg btn-primary btn-block">Kentekens</a>
<a type="button" href="/dagstaat" class="btn btn-lg btn-primary btn-block">Dagstaten</a>
<a type="button" href="/weekstaat" class="btn btn-lg btn-primary btn-block">Weekstaten</a>
