<button type="button" class="btn btn-lg btn-primary btn-block">Personeel</button>
<button type="button" class="btn btn-lg btn-primary btn-block">Klanten</button>
<button type="button" class="btn btn-lg btn-primary btn-block">Wagens</button>
<button type="button" class="btn btn-lg btn-primary btn-block">Kentekens</button>
<button type="button" class="btn btn-lg btn-primary btn-block">Dagstaten</button>
<button type="button" class="btn btn-lg btn-primary btn-block">Weekstaten</button>
