<a type="button" class="btn btn-lg btn-primary btn-block">Personeel</a>
<a type="button" class="btn btn-lg btn-primary btn-block">Klanten</a>
<a type="button" class="btn btn-lg btn-primary btn-block">Wagens</a>
<a type="button" class="btn btn-lg btn-primary btn-block">Kentekens</a>
<a type="button" href="/dagstaat" class="btn btn-lg btn-primary btn-block">Dagstaten</a>
<a type="button" class="btn btn-lg btn-primary btn-block">Weekstaten</a>
