body
{
    
    
    
}

.pdf_container
{

    position:relative;
    border: 0px;
    font-size: 15px;
    padding:10px;
     width:calc(210mm * 1.25);
    height:calc(297mm * 1.25);
}

.dagstaat_first_layer
{
    position:relative;
    margin:auto;
    height:79px;
    width:1052px;
    margin-bottom:5px;
}

.dagstaat_second_layer
{
    position:relative;
    margin:auto;
    height:130px;
    width:1052px;
    margin-bottom:5px;
}

.dagstaat_third_layer
{
    position:relative;
    text-align:center;
    margin:auto;
    width:1052px;
    margin-bottom:5px;
}
.dagstaat_fourth_layer
{
    position:relative;
    margin:auto;
    width:1052px;
}

.dagstaat_fourth_layer
{
    position:relative;
    margin:auto;
    height:70px;
    width:1052px;
    margin-bottom:5px;
}

.dagstaat_fifth_layer
{
    position:relative;
    margin:auto;
    width:1052px;
    height:150px;
    margin-bottom:5px;
}

.dagstaat_sixth_layer
{

    position:absolute;
    bottom:0;
    right:0;
    font-size:12px;
}

.dagstaat_top_input
{
    margin-bottom:15px;
}


.dagstaat_top_input.bold
{
    text-align:right;
    font-weight: bold;
}

.bold
{
    font-weight:bold;
}
.dagstaat_id
{
    padding-top: 10px;
}

.dagstaat_remarks
{
    font-weight:bold;
}

.fifth_lower
{
    padding-top:30px;
}